/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Color Config */

:root{
    --primary-color: #299D91;
    --secondary-color: #525256;
    --default-black: #191919;
    --black: #191D23;

    --gray-01: #666;
    /* --gray-02: #878787; */
    --gray-02: #4B5768;
    /* --gray-03: #9F9F9F; */
    --gray-03: #D0D5DD;
    --gray-05: #E8E8E8;
    --gray-06: #F3F3F3;
}

/* End Color Config */

/* Base Style */

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input{
    outline: none;
    border: none;
}

body{
    background-color: #F4F5F7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

/* End Base Style */


/* Component Style */

input{
    padding: 12px 16px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--gray-03);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    background-color: transparent;
    transition: .3s;
}

input:valid{
    border: 1px solid #4DAF6E;
}

/* input:invalid{
    border: 1.5px solid #E73D1C;
} */

input:focus, input:active{
    border: 1px solid var(--gray-02);
}

input::placeholder{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--gray-01);
    opacity: .6;
}

label{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    color: #191D23;
}

button{
    border-radius: 8px;
    background: var(--primary-color);
    height: 48px;
    padding: 16px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: white;
}

button.button-light{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
    accent-color: var(--primary-color);
    /* appearance: none; */
    padding: 0;
    border-radius: 4px;
    background-color: var(--gray-06);
    transition: .5s;
    cursor: pointer;
    border: 1px solid var(--gray-03);
    /* border: none; */
}

input[type='checkbox']:focus, input[type='checkbox']:active {
    border: none;
    outline: none;
}

/* End Component Style */


/* Header Style */

header h1{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 80% */
    /* letter-spacing: 3.2px; */
    color: var(--primary-color);
}

/* End Header Style */

/* Main Style */

main{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    max-width: 1250px;
    width: 100%;
    flex-wrap: wrap;
    align-items: start;
}

main .right section:nth-child(2){
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

main .left, main .right{
    flex: 1;
}

main .right{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .left section form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1200px){
    main{
        grid-template-columns: 420px 1fr;
    }

    main .left{
        top: 40px;
        position: sticky;
    }
}

@media (min-width: 800px){

    main{
        padding: 40px 30px;
    }

    main .right section:nth-child(2) {
        grid-template-columns: 1fr 1fr;
    }
}

section h2{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--primary-color);
    /* text-align: center; */
    margin-bottom: 20px;
}

.input-group-wrapper{
    /* gap: 24px; */
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.submit-button-group{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.done-read-check{
    display: flex;
    gap: 16px;
    align-items: center;
}

.done-read-check label{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--black);
}

.submit-wrapper{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

main .right section:nth-child(1) form{
    display: flex;
    align-items: end;
    gap: 10px;
}

main .right section:nth-child(1) form button{
    width: 20%;
}

.book-list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article{
    padding: 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.10);
    gap: 16px;
    display: flex;
    flex-direction: column;
    max-width: 345px;
    width: 100%;
}

article .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(210, 210, 210, 0.25);
    padding-bottom: 12px;
}

article .top button{
    height: 34px;
    width: fit-content;
    /* width: 140px; */
}

article h3{
    /* font-size: 16px; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
    color: var(--gray-02);
    word-wrap: break-word;
    width: 100%;
}

article p{
    /* font-size: 20px; */
    font-size: 17px;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    text-transform: capitalize;
    color: var(--default-black);
    /* gap: 0px; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

article p span{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--gray-03);
}

article .book-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

article .action-button{
    margin-top: 8px;
    display: flex;
    gap: 12px;
    /* width: 50%; */
}

article .action-button button:nth-child(1){
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-color);
    order: -1;
}

/* End Main Style */